@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-linkedin-blue: #0A66C2;
  --color-linkedin-dark: #1D2226;
  --color-linkedin-body: #434649;
  --color-linkedin-bg: #F3F2EE;
  --color-linkedin-border: #E0DFDC;
  --color-linkedin-white: #FFFFFF;
  --color-linkedin-hover: #004182;

  --radius: 4px;
  --radius-sm: 4px;
  --radius-md: 4px;
  --radius-lg: 4px;
  --radius-xl: 4px;
  --radius-2xl: 4px;
  --radius-3xl: 4px;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #F3F2EE;
}
